<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ideacompany.etm.map.FileMapper">

	<insert id="insertFile" parameterType="com.ideacompany.etm.dto.FileDto" useGeneratedKeys="true" keyProperty="fileSeq" keyColumn="file_seq">
		INSERT INTO mytest.TB_FILE (
			  FILE_NAME
			, SAVE_FILE_NAME
			, SAVE_PATH
			, HASH
			, BUCKET
			, STORAGE_TYPE
			, USE_YN
			, REG_USR_NO
			, REG_DATE
		 )
		 VALUES(
		 	  #{fileName}
		 	, #{saveFileName}
		 	, #{savePath}
		 	, #{hash}
		 	, #{bucket}
		 	, #{storageType}
		 	, #{useYn}
		 	, #{regUsrNo}::BIGINT
		 	, CURRENT_TIMESTAMP
		 )
	</insert>
	
	<select id="getFileInfo" resultType="com.ideacompany.etm.dto.FileDto">
		 SELECT 
			      FILE_SEQ
				, FILE_NAME
				, SAVE_FILE_NAME
				, SAVE_PATH
				, HASH
				, BUCKET
				, STORAGE_TYPE
				, USE_YN
				, REG_USR_NO
				, REG_DATE
			 FROM mytest.TB_FILE
			 WHERE 
			 	USE_YN ILIKE 'Y'
			 AND FILE_SEQ = #{fileSeq}
			 	
	</select>

</mapper>