<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ideacompany.etm.map.TestMapper">

	<select id="getAllBoards" resultType="com.ideacompany.etm.dto.Board">
		SELECT 
			board_no as no,
			board_type as type,
			title,
			contents,
			memberno,
			createdtime,
			updatedtime,
			likes,
			counts
		FROM mytest.tb_board
	</select>
	
</mapper>